@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button,
a {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) 0 env(safe-area-inset-bottom) 0;
  background-color: rgb(7, 29, 12);
  font-family: "Cormorant Garamond", serif;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container {
  max-width: 1100px;
  padding: 0 calc(15px + env(safe-area-inset-right)) 0 calc(15px + env(safe-area-inset-left));
  margin: 0 auto;
}
.container.big {
  padding: 0 calc(10px + env(safe-area-inset-right)) 0 calc(10px + env(safe-area-inset-left));
  max-width: calc(1100px + 300px);
}

.header {
  position: relative;
  z-index: 50;
  width: 100%;
  top: 0;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
}
.header__logo {
  text-shadow: 0px 0px 6px #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
}
.header__logo h1 {
  color: rgba(255, 255, 255, 0.87);
}
@media (max-width: 767px) {
  .header__logo {
    font-size: calc(36px + 6.8 * ((100vw - 280px) / 1100));
  }
}
@media (min-width: 767px) {
  .header__logo {
    font-size: calc(36px + 4 * (100vw / 1100));
  }
}
@media (max-width: 767px) {
  .header__row {
    height: 75px;
  }
  .header__logo {
    left: 0;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    padding: 0px 0px 0px 20px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__list li {
  padding: 0px calc(15px + 15 * (100vw / 1100));
}
.menu__list li:nth-child(2) {
  padding: 0 calc(100px + 20 * (100vw / 1100)) 0 calc(15px + 15 * (100vw / 1100));
}
.menu__list li:nth-child(3) {
  padding: 0 calc(15px + 15 * (100vw / 1100)) 0 calc(100px + 20 * (100vw / 1100));
}
.menu__link {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 700;
  letter-spacing: 2.5px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media (max-width: 767px) {
  .menu__link {
    font-size: calc(14px + 6.8 * ((100vw - 280px) / 1100));
  }
}
@media (min-width: 767px) {
  .menu__link {
    font-size: calc(14px + 4 * (100vw / 1100));
  }
}
.menu__link:hover {
  color: #fff;
  text-shadow: 0px 0px 4px #fff;
}
@media (max-width: 767px) {
  .menu__body {
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: rgba(0, 26, 9, 0.87);
    padding: 150px 0px 0px 0px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    -o-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  .menu__body.active {
    opacity: 1;
    top: 0;
  }
  .menu__list {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list li:not(:last-child) {
    padding: 0 0 45px 0 !important;
  }
  .menu__link {
    position: relative;
    color: rgba(255, 255, 255, 0.87);
    font-size: 20px;
  }
  .menu__link:after {
    content: "";
    position: absolute;
    top: 150%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 70%;
    height: 2px;
    background: rgba(255, 255, 255, 0.87);
  }
}

.burger-menu {
  z-index: 50;
  display: none;
}
@media (max-width: 767px) {
  .burger-menu {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 15px;
    width: 38px;
    height: 28px;
  }
  .burger-menu:before, .burger-menu:after {
    content: "";
    -webkit-box-shadow: 0px 0px 4px #fff;
            box-shadow: 0px 0px 4px #fff;
    background-color: rgba(255, 255, 255, 0.87);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    border-radius: 8px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .burger-menu:before {
    top: 0;
  }
  .burger-menu:after {
    bottom: 0;
  }
  .burger-menu span {
    -webkit-box-shadow: 0px 0px 4px #fff;
            box-shadow: 0px 0px 4px #fff;
    background-color: rgba(255, 255, 255, 0.87);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    border-radius: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
}
.burger-menu.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 13px;
}
.burger-menu.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 13px;
}
.burger-menu.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.content {
  -webkit-box-shadow: inset 0px 0px 10px #000;
          box-shadow: inset 0px 0px 10px #000;
  position: relative;
  padding: 25px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: rgba(255, 255, 255, 0.87);
}
.content a {
  color: rgba(255, 255, 255, 0.87);
}
@media (min-width: 767px) {
  .content {
    padding: 50px 0;
  }
}

.footer {
  z-index: 50;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(0, 25, 5, 0.87);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px;
  line-height: 150%;
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 200px) minmax(auto, 700px) minmax(auto, 200px) 1fr;
}
@media (max-width: 767px) {
  .footer {
    font-size: calc(16px + 6.8 * ((100vw - 280px) / 1100));
  }
}
@media (min-width: 767px) {
  .footer {
    font-size: calc(16px + 4 * (100vw / 1100));
  }
}
.footer__copy {
  font-weight: 700;
}
.footer__copy span {
  font-weight: 400;
}
@media (max-width: 767px) {
  .footer__logo {
    font-size: calc(24px + 6.8 * ((100vw - 280px) / 1100));
  }
}
@media (min-width: 767px) {
  .footer__logo {
    font-size: calc(24px + 4 * (100vw / 1100));
  }
}
.footer__logo span {
  cursor: pointer;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  position: relative;
}
.footer__link img {
  width: 30px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.footer__link img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
@media (min-width: 550px) {
  .footer__copy {
    grid-column: 2/3;
  }
  .footer__logo {
    grid-column: 3/4;
  }
  .footer__nav {
    grid-column: 4/5;
  }
}
@media (max-width: 550px) {
  .footer {
    justify-items: center;
    grid-template: repeat(2, auto)/1fr 1fr;
  }
  .footer__copy {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0px 0px 10px 0px;
  }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    grid-row: span 2;
  }
  .footer__nav div:not(:last-child) {
    padding: 0 0 15px 0;
  }
}

.title {
  font-weight: 700;
  padding: 0px 0px 15px 0px;
  text-align: center;
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  .title {
    font-size: calc(20px + 6.8 * ((100vw - 280px) / 1100));
  }
}
@media (min-width: 767px) {
  .title {
    font-size: calc(20px + 4 * (100vw / 1100));
  }
}
.title span {
  position: relative;
}
.title span::before,
.title span::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.87);
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.title span::before {
  left: -30px;
}
.title span::after {
  right: -30px;
}

.animated-item {
  opacity: 0;
}

.main-page .full-screen {
  position: relative;
  padding: 0px 0px calc(100vh + 75px) 0px;
}
.main-page .full-screen img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.main-page .full-screen::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.27);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.main-page .header {
  position: absolute;
  top: 15px;
}
@media (min-width: 767px) {
  .main-page .header {
    top: 35px;
  }
}
.main-page .content {
  padding: 0;
}
.main-page .natureis {
  position: relative;
  z-index: 50;
  margin: -50px 0 50px 0;
}
.main-page .natureis__block {
  padding: 30px 15px;
  background-color: rgb(7, 29, 12);
  -webkit-box-shadow: 0 0 25px #000;
          box-shadow: 0 0 25px #000;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.main-page .natureis__block.animate {
  opacity: 1;
}
.main-page .natureis__title {
  -webkit-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease;
}
.main-page .natureis__title.animate {
  opacity: 1;
}
.main-page .natureis__text {
  font-weight: 300;
  line-height: 150%;
  text-align: center;
  -webkit-transition: all 1s ease 0.2s;
  -o-transition: all 1s ease 0.2s;
  transition: all 1s ease 0.2s;
}
@media (max-width: 767px) {
  .main-page .natureis__text {
    font-size: calc(16px + 6.8 * ((100vw - 280px) / 1100));
  }
}
@media (min-width: 767px) {
  .main-page .natureis__text {
    font-size: calc(16px + 4 * (100vw / 1100));
  }
}
@media (max-width: 767px) {
  .main-page .natureis__text::first-letter {
    font-size: calc(24px + 6.8 * ((100vw - 280px) / 1100));
  }
}
@media (min-width: 767px) {
  .main-page .natureis__text::first-letter {
    font-size: calc(24px + 4 * (100vw / 1100));
  }
}
.main-page .natureis__text.animate {
  opacity: 1;
}
@media (min-width: 767px) {
  .main-page .natureis__block {
    padding: 30px;
  }
}
.main-page .gallery__items {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.main-page .gallery__item {
  -webkit-box-shadow: 2px 2px 5px #000;
          box-shadow: 2px 2px 5px #000;
  padding: 0px 0px 57% 0px;
  position: relative;
}
.main-page .gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.main-page .gallery__item::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.17);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
@media (min-width: 767px) {
  .main-page .gallery__items {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
@media (min-width: 1090px) {
  .main-page .gallery__item-2x1 {
    grid-row: span 2;
  }
  .main-page .gallery__item-2x2 {
    grid-row: span 2;
    grid-column: span 2;
  }
}
.main-page .discover {
  z-index: 50;
  position: relative;
  padding: 50px 0 0 0;
  margin: 0px 0px -50px 0px;
}
.main-page .discover__block {
  padding: 30px;
  background-color: rgb(7, 29, 12);
  -webkit-box-shadow: 0 0 25px #000;
          box-shadow: 0 0 25px #000;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.main-page .discover__block.animate {
  opacity: 1;
}
.main-page .discover__title {
  -webkit-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease;
}
.main-page .discover__title.animate {
  opacity: 1;
}
.main-page .discover__text {
  font-weight: 300;
  margin: 0px 0px 15px 0px;
  line-height: 150%;
  text-align: center;
  -webkit-transition: all 1s ease 0.2s;
  -o-transition: all 1s ease 0.2s;
  transition: all 1s ease 0.2s;
}
@media (max-width: 767px) {
  .main-page .discover__text {
    font-size: calc(16px + 6.8 * ((100vw - 280px) / 1100));
  }
}
@media (min-width: 767px) {
  .main-page .discover__text {
    font-size: calc(16px + 4 * (100vw / 1100));
  }
}
@media (max-width: 767px) {
  .main-page .discover__text::first-letter {
    font-size: calc(24px + 6.8 * ((100vw - 280px) / 1100));
  }
}
@media (min-width: 767px) {
  .main-page .discover__text::first-letter {
    font-size: calc(24px + 4 * (100vw / 1100));
  }
}
.main-page .discover__text.animate {
  opacity: 1;
}
.main-page .discover__button {
  position: relative;
  text-transform: uppercase;
  display: block;
  text-align: center;
  width: calc(150px + 20 * (100vw / 1100));
  margin: 0 auto;
  -webkit-transition: all 1s ease 0.4s;
  -o-transition: all 1s ease 0.4s;
  transition: all 1s ease 0.4s;
}
@media (max-width: 767px) {
  .main-page .discover__button {
    font-size: calc(16px + 6.8 * ((100vw - 280px) / 1100));
  }
}
@media (min-width: 767px) {
  .main-page .discover__button {
    font-size: calc(16px + 4 * (100vw / 1100));
  }
}
.main-page .discover__button.animate {
  opacity: 1;
}
.main-page .discover__button a {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.main-page .discover__button a:hover {
  color: #fff;
  text-shadow: 0px 0px 4px #fff;
}
.main-page .discover__button::before, .main-page .discover__button::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.87);
}
.main-page .discover__button::after {
  right: -60%;
}
.main-page .discover__button::before {
  left: -60%;
}
@media (max-width: 424px) {
  .main-page .discover__button::before, .main-page .discover__button::after {
    width: 30%;
  }
  .main-page .discover__button::after {
    right: -30%;
  }
  .main-page .discover__button::before {
    left: -30%;
  }
}
.main-page .footer {
  z-index: 1;
  padding: 75px 10px 10px 10px;
}

.about-page .header {
  background-color: rgba(0, 25, 5, 0.87);
}
.about-page .content {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-page .aboutus {
  position: relative;
}
.about-page .aboutus__block {
  padding: 15px 10px;
  background-color: rgba(7, 29, 12, 0.57);
  -webkit-box-shadow: 0 0 15px #000;
          box-shadow: 0 0 15px #000;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.about-page .aboutus__block.animate {
  opacity: 1;
}
.about-page .aboutus__title {
  -webkit-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease;
}
.about-page .aboutus__title.animate {
  opacity: 1;
}
.about-page .aboutus__text {
  font-weight: 300;
  line-height: 150%;
  text-align: center;
  -webkit-transition: all 1s ease 0.2s;
  -o-transition: all 1s ease 0.2s;
  transition: all 1s ease 0.2s;
}
@media (max-width: 767px) {
  .about-page .aboutus__text {
    font-size: calc(16px + 6.8 * ((100vw - 280px) / 1100));
  }
}
@media (min-width: 767px) {
  .about-page .aboutus__text {
    font-size: calc(16px + 4 * (100vw / 1100));
  }
}
@media (max-width: 767px) {
  .about-page .aboutus__text::first-letter {
    font-size: calc(24px + 6.8 * ((100vw - 280px) / 1100));
  }
}
@media (min-width: 767px) {
  .about-page .aboutus__text::first-letter {
    font-size: calc(24px + 4 * (100vw / 1100));
  }
}
.about-page .aboutus__text.animate {
  opacity: 1;
}
.about-page .aboutus__image img {
  width: 200%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
.about-page .aboutus__image::after {
  content: "";
  position: absolute;
  background-color: rgb(7, 29, 12);
  z-index: -1;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);
          clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);
  visibility: hidden;
}
.about-page .aboutus__image::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.37);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (min-width: 767px) {
  .about-page .aboutus__block {
    padding: 30px;
  }
  .about-page .aboutus__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .about-page .aboutus__image::after {
    visibility: visible;
  }
}

.more-page .full-screen {
  z-index: -1;
}
.more-page .full-screen img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
}
.more-page .full-screen::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.37);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}
.more-page .header {
  position: absolute;
}
.more-page .content {
  padding: 0 0 75px 0;
}
.more-page .more-top .more {
  padding: 0px 0px 75px 0px;
}
.more-page .more-top .more__slider {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
@media (min-width: 767px) {
  .more-page .more-top .more__slider .slick-dots {
    right: 0;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
.more-page .more-top .more__text {
  max-height: 70vh;
  overflow: auto;
  font-weight: 300;
  line-height: 150%;
  text-align: center;
}
@media (max-width: 767px) {
  .more-page .more-top .more__text {
    font-size: calc(16px + 6.8 * ((100vw - 280px) / 1100));
  }
}
@media (min-width: 767px) {
  .more-page .more-top .more__text {
    font-size: calc(16px + 4 * (100vw / 1100));
  }
}
@media (max-width: 767px) {
  .more-page .more-top .more__text::first-letter {
    font-size: calc(24px + 6.8 * ((100vw - 280px) / 1100));
  }
}
@media (min-width: 767px) {
  .more-page .more-top .more__text::first-letter {
    font-size: calc(24px + 4 * (100vw / 1100));
  }
}
.more-page .pine {
  background-color: rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 0px 0px 10px #000;
          box-shadow: 0px 0px 10px #000;
}
.more-page .pine__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.more-page .pine__image {
  z-index: 50;
  position: relative;
  padding: 0px 0px 57% 0px;
  margin: -50px 0px 0px 0px;
}
.more-page .pine__image img {
  -webkit-box-shadow: 0 0 15px #000;
          box-shadow: 0 0 15px #000;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 3px solid rgb(0, 25, 5);
}
.more-page .pine__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 66.667%;
          flex: 1 0 66.667%;
  margin: auto;
  padding: 25px 15px;
}
.more-page .pine__text {
  font-weight: 300;
  line-height: 150%;
  text-align: center;
}
@media (max-width: 767px) {
  .more-page .pine__text {
    font-size: calc(16px + 6.8 * ((100vw - 280px) / 1100));
  }
}
@media (min-width: 767px) {
  .more-page .pine__text {
    font-size: calc(16px + 4 * (100vw / 1100));
  }
}
@media (max-width: 767px) {
  .more-page .pine__text::first-letter {
    font-size: calc(24px + 6.8 * ((100vw - 280px) / 1100));
  }
}
@media (min-width: 767px) {
  .more-page .pine__text::first-letter {
    font-size: calc(24px + 4 * (100vw / 1100));
  }
}
@media (min-width: 767px) {
  .more-page .pine__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .more-page .pine__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.333%;
            flex: 1 0 33.333%;
    padding: 0px 0px 40% 0px;
    margin: -50px 0px -50px 0px;
  }
}
.more-page .more-bottom .more {
  padding: 75px 0px 75px 0px;
}
.more-page .more-bottom .more__slider {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
@media (min-width: 767px) {
  .more-page .more-bottom .more__slider .slick-dots {
    left: 0;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
.more-page .more-bottom .more__text {
  max-height: 70vh;
  overflow: auto;
  font-weight: 300;
  line-height: 150%;
  text-align: center;
}
@media (max-width: 767px) {
  .more-page .more-bottom .more__text {
    font-size: calc(16px + 6.8 * ((100vw - 280px) / 1100));
  }
}
@media (min-width: 767px) {
  .more-page .more-bottom .more__text {
    font-size: calc(16px + 4 * (100vw / 1100));
  }
}
@media (max-width: 767px) {
  .more-page .more-bottom .more__text::first-letter {
    font-size: calc(24px + 6.8 * ((100vw - 280px) / 1100));
  }
}
@media (min-width: 767px) {
  .more-page .more-bottom .more__text::first-letter {
    font-size: calc(24px + 4 * (100vw / 1100));
  }
}
.more-page .conifers {
  background-color: rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 0px 0px 10px #000;
          box-shadow: 0px 0px 10px #000;
}
.more-page .conifers__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.more-page .conifers__image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  z-index: 50;
  position: relative;
  padding: 0px 0px 57% 0px;
  margin: -50px 0px 0px 0px;
}
.more-page .conifers__image img {
  -webkit-box-shadow: 0 0 15px #000;
          box-shadow: 0 0 15px #000;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 3px solid rgb(0, 25, 5);
}
.more-page .conifers__block {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 66.667%;
          flex: 1 0 66.667%;
  margin: auto;
  padding: 25px 15px;
}
.more-page .conifers__text {
  font-weight: 300;
  line-height: 150%;
  text-align: center;
}
@media (max-width: 767px) {
  .more-page .conifers__text {
    font-size: calc(16px + 6.8 * ((100vw - 280px) / 1100));
  }
}
@media (min-width: 767px) {
  .more-page .conifers__text {
    font-size: calc(16px + 4 * (100vw / 1100));
  }
}
@media (max-width: 767px) {
  .more-page .conifers__text::first-letter {
    font-size: calc(24px + 6.8 * ((100vw - 280px) / 1100));
  }
}
@media (min-width: 767px) {
  .more-page .conifers__text::first-letter {
    font-size: calc(24px + 4 * (100vw / 1100));
  }
}
@media (min-width: 767px) {
  .more-page .conifers__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .more-page .conifers__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.333%;
            flex: 1 0 33.333%;
    padding: 0px 0px 40% 0px;
    margin: -50px 0px -50px 0px;
  }
  .more-page .conifers__block {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.more-page .slick-list {
  overflow: hidden;
  position: absolute;
  width: 66.667%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (min-width: 767px) {
  .more-page .slick-list {
    width: 50%;
  }
}
.more-page .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.more-page .slick-arrow {
  position: absolute;
  top: 50%;
  font-size: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
}
.more-page .slick-arrow.slick-prev {
  left: 0;
  border-bottom: rgba(255, 255, 255, 0.87) solid 3px;
  border-left: rgba(255, 255, 255, 0.87) solid 3px;
  -webkit-transform: rotate(45deg) translateY(-50%);
      -ms-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
}
.more-page .slick-arrow.slick-next {
  right: 0;
  border-top: rgba(255, 255, 255, 0.87) solid 3px;
  border-right: rgba(255, 255, 255, 0.87) solid 3px;
  -webkit-transform: rotate(45deg) translateX(-50%);
      -ms-transform: rotate(45deg) translateX(-50%);
          transform: rotate(45deg) translateX(-50%);
}
@media (min-width: 767px) {
  .more-page .slick-arrow {
    width: 50px;
    height: 50px;
  }
}
.more-page .slick-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  position: absolute;
  bottom: 15px;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}
.more-page .slick-dots li {
  position: relative;
  cursor: pointer;
  margin: 0 15px;
  width: 50px;
  height: 15px;
  border: rgba(255, 255, 255, 0.87) solid 2px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media (min-width: 767px) {
  .more-page .slick-dots li {
    width: 75px;
  }
}
.more-page .slick-dots li.slick-active {
  background-color: rgba(255, 255, 255, 0.87);
}
.more-page .slick-dots li button {
  font-size: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
}

.shop-page .header {
  background-color: rgba(0, 25, 5, 0.87);
}
.shop-page .products__bg img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}
.shop-page .products__bg::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.27);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}
.shop-page .products__items {
  display: grid;
  grid-template: repeat(auto-fit, minmax(250px, 1fr))/repeat(auto-fill, minmax(250px, 1fr));
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}
.shop-page .products__item {
  text-align: center;
  background-color: rgba(0, 26, 9, 0.57);
  -webkit-box-shadow: 2px 2px 10px #000;
          box-shadow: 2px 2px 10px #000;
  padding: 10px 0;
  height: 100%;
  border-radius: 8px;
}
.shop-page .products__image {
  position: relative;
  padding: 0px 0px 75% 0px;
  margin: 0 auto;
}
.shop-page .products__image img {
  padding: 0 10px;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}
.shop-page .products__title {
  padding: 15px 10px 10px;
}
@media (max-width: 767px) {
  .shop-page .products__title {
    font-size: calc(18px + 6.8 * ((100vw - 280px) / 1100));
  }
}
@media (min-width: 767px) {
  .shop-page .products__title {
    font-size: calc(18px + 4 * (100vw / 1100));
  }
}
.shop-page .products__price {
  font-weight: 700;
}
@media (max-width: 767px) {
  .shop-page .products__price {
    font-size: calc(16px + 6.8 * ((100vw - 280px) / 1100));
  }
}
@media (min-width: 767px) {
  .shop-page .products__price {
    font-size: calc(16px + 4 * (100vw / 1100));
  }
}
.shop-page .products__sort {
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 2px 2px 10px #000;
          box-shadow: 2px 2px 10px #000;
  background-color: rgba(0, 26, 9, 0.57);
  margin: 0px 0px 30px 0px;
  z-index: 10;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.shop-page .products__sort-title {
  display: inline-block;
  position: relative;
  cursor: pointer;
  left: 30px;
  font-size: 30px;
}
.shop-page .products__sort-title img {
  height: 30px;
  margin: 0px 5px 0px 0px;
}
.shop-page .products__sort-list {
  cursor: pointer;
  border-radius: 4px;
  font-size: 20px;
  background-color: rgba(0, 26, 9, 0.87);
  -webkit-box-shadow: 0px 0px 10px #000;
          box-shadow: 0px 0px 10px #000;
  position: absolute;
  top: calc(100% + 10px);
  left: 30px;
}
.shop-page .products__sort-list li:hover {
  background-color: rgba(255, 255, 255, 0.17);
}
.shop-page .products__sort-link {
  width: 150px;
  position: relative;
  padding: 10px 30px 10px 10px;
}
.shop-page .products__sort-link:not(:last-child) {
  border-bottom: solid 1px rgba(255, 255, 255, 0.87);
}
.shop-page .products__sort-link span {
  right: 5px;
  top: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
}
.shop-page .products__sort-link:nth-child(even) span {
  border-bottom: 2px solid rgba(255, 255, 255, 0.87);
  border-left: 2px solid rgba(255, 255, 255, 0.87);
  -webkit-transform: rotate(-45deg) translateY(-100%);
      -ms-transform: rotate(-45deg) translateY(-100%);
          transform: rotate(-45deg) translateY(-100%);
}
.shop-page .products__sort-link:nth-child(odd) span {
  border-top: 2px solid rgba(255, 255, 255, 0.87);
  border-right: 2px solid rgba(255, 255, 255, 0.87);
  -webkit-transform: rotate(-45deg) translate(-50%, -50%);
      -ms-transform: rotate(-45deg) translate(-50%, -50%);
          transform: rotate(-45deg) translate(-50%, -50%);
}
.shop-page .products__loading {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.shop-page .products__loading div {
  position: absolute;
  top: 33px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.shop-page .products__loading div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}
.shop-page .products__loading div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}
.shop-page .products__loading div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}
.shop-page .products__loading div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}
@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}
.shop-page .products__error {
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (min-width: 767px) {
  .shop-page .products__items {
    grid-template: repeat(auto-fit, minmax(250px, 1fr))/repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 50px;
  }
  .shop-page .products__item {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .shop-page .products__item:hover {
    -webkit-transform: translate(-1px, -1px);
        -ms-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
  }
}
.shop-page .product__not-found {
  text-align: center;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.shop-page .product__item {
  text-align: center;
  -webkit-box-shadow: 2px 2px 10px #000;
          box-shadow: 2px 2px 10px #000;
  padding: 15px;
  background-color: rgba(0, 26, 9, 0.57);
  border-radius: 8px;
}
.shop-page .product__image {
  position: relative;
  padding: 0px 0px 100% 0px;
}
.shop-page .product__image img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}
.shop-page .product__block {
  margin: auto 0;
  padding: 30px 15px 0px;
}
@media (max-width: 767px) {
  .shop-page .product__title {
    font-size: calc(18px + 6.8 * ((100vw - 280px) / 1100));
  }
}
@media (min-width: 767px) {
  .shop-page .product__title {
    font-size: calc(18px + 4 * (100vw / 1100));
  }
}
.shop-page .product__title p:nth-child(1) {
  opacity: 0.6;
  padding: 0px 0px 15px 0px;
}
.shop-page .product__price {
  font-weight: 700;
  padding: 10px 0px;
}
@media (max-width: 767px) {
  .shop-page .product__price {
    font-size: calc(16px + 6.8 * ((100vw - 280px) / 1100));
  }
}
@media (min-width: 767px) {
  .shop-page .product__price {
    font-size: calc(16px + 4 * (100vw / 1100));
  }
}
.shop-page .product__description {
  line-height: 150%;
}
@media (max-width: 767px) {
  .shop-page .product__description {
    font-size: calc(16px + 6.8 * ((100vw - 280px) / 1100));
  }
}
@media (min-width: 767px) {
  .shop-page .product__description {
    font-size: calc(16px + 4 * (100vw / 1100));
  }
}
.shop-page .product__description p {
  padding: 0px 0px 15px 0px;
}
.shop-page .product__description .star-rating {
  font-size: 0;
  display: inline-block;
  width: 150px;
  height: 30px;
  overflow: hidden;
  position: relative;
  background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=");
  background-size: contain;
}
.shop-page .product__description .star-rating .star {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  z-index: 1;
  background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=");
  background-size: contain;
}
@media (min-width: 767px) {
  .shop-page .product__block {
    padding: 0 75px;
  }
  .shop-page .product__item {
    display: grid;
    grid-template: 1fr/1fr 2fr;
    padding: 25px;
  }
}
.shop-page .paginations {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 30px 0px 0px 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 24px;
}
.shop-page .paginations__prev, .shop-page .paginations__next {
  visibility: hidden;
  padding: 15px;
  cursor: pointer;
  position: absolute;
  background-color: rgba(0, 26, 9, 0.57);
  border-radius: 4px;
}
.shop-page .paginations__prev {
  left: -100%;
}
.shop-page .paginations__next {
  right: -100%;
}
.shop-page .paginations__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shop-page .paginations__number {
  padding: 15px;
  margin: 0 5px;
  cursor: pointer;
  background-color: rgba(0, 26, 9, 0.57);
  border-radius: 4px;
}
.shop-page .paginations__number.active {
  background-color: rgba(255, 255, 255, 0.17);
}
@media (min-width: 767px) {
  .shop-page .paginations__number {
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  .shop-page .paginations__number:hover {
    -webkit-box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.37);
            box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.37);
  }
  .shop-page .paginations__number:active {
    -webkit-box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.87);
            box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.87);
  }
  .shop-page .paginations__prev, .shop-page .paginations__next {
    visibility: visible;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  .shop-page .paginations__prev:hover, .shop-page .paginations__next:hover {
    -webkit-box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.37);
            box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.37);
  }
  .shop-page .paginations__prev:active, .shop-page .paginations__next:active {
    -webkit-box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.87);
            box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.87);
  }
}